<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Dom\Desktop\Репозитории\The-basis-of-CScharp\$УЧИМ_ШАРП\3 Раздел\1_Учим_Entity_Framework\EntityCourse\EntityCourse\TestDataBase-222.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>