<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ShopDb" connectionString="Server=DESKTOP-9MTDVEO\SQLEXPRESS;Database=Shop;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="UsersDb" connectionString="Server=SAN\SQLEXPRESS;Database=UsersDb;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>