* {
  font-family: Arial, Helvetica, sans-serif;  
  color: black;
}

.hello {
    color: aquamarine;
    font-size: 42px;
}

p {
    font-size: 26px;
}

.selectable {
    height: 40px;
    width: 40px;
    margin: 2px;
    border: 1px solid gray;
}

.isColored {
    background-color: #ccc;
}