* {
  font-family: Arial, Helvetica, sans-serif;  
  color: black;
}
.hello {
    color: aquamarine;
    font-size: 42px;
}
h3 {
    line-height: 15px;
}
p {
    font-size: 18px;
    line-height: 10px;
}
span {
    font-size: 15px;
}